<div class="container">
	<div class="form-group">
		<label class="control-label col-sm-2">Friend Email</label>
		<input type="text" class="friendEmail col-sm-3">
	</div>
	<br><br>
	<div class="form-group">
	<button class="addFriend btn btn-primary col-sm-offset-2 col-sm-1">Add</button>
					
	</div>
</div>
