<div class="container">
  <div class="row">
		<label class="control-label col-sm-3">Friend Email</label>
		<input type="text" class="friendEmail col-sm-3" id="friendEmail">
	   <button class="addFriend btn btn-primary col-sm-3 ">Add</button>
  </div>	
</div>
