

<h1 style="color:#dc3b45;padding-top:20px" %>Add Friends</h1>
<p id="error_null" class="col-sm-12" style='color:red;'></p>
<%= render 'form' %>
<br><br>

 <%= render :template => 'friends/show' %> 


<script type="text/javascript">

////////////////////////// add friend /////////////////////////////////
$('.addFriend').click(function(e){
	var email = jQuery('.friendEmail').val()
	console.log(email);	
	$.ajax({
        url: "/friends",
        method: 'POST',
        data: {
            email: email,
        },
        success: function(response) {    
       
      if (typeof response.value === 'undefined'){
         document.getElementById('friendEmail').value=""
        if(typeof response.notValid === 'undefined'){
        
          $('#error_null').empty();  
          if (typeof response.same === 'undefined'){

             if (typeof response.exist === 'undefined'){
              $('.fr_row').append(
                "<div class='col-sm-6'><div class='panel-success'><div class='textDesc row'><div class='col-sm-4'><h4 id='head_col'>"+response.email+"</h4></div><div class='col-sm-4'><a id='fr"+response.id+"' onclick='delete_friend("+response.id+")'>Unfriend</a></div></div></div></div>"	
                  );
              }else{ 
                $('#error_null').empty();  
                $('#error_null').append("<strong> * "+response.exist+"</strong>");  
              }
          }else{
              $('#error_null').empty();  
              $('#error_null').append("<strong> * "+response.same+"</strong>");  
          };
        }else{
           $('#error_null').empty();  
           $('#error_null').append("<strong> * "+response.notValid+"</strong>");  
        }  
      }else{ 
          $('#error_null').empty();  
           
          $('#error_null').append("<strong> * "+response.value+"</strong>");  
          };

      console.log(response);
      },
          error: function(xmlHttpRequestObj, status, error) {
            console.log(error);
          },
          complete: function(xmlHttpRequestObj) {
            console.log("complete");
          },
    
          async: true
    });
}); 

////////////////////////// delete friend /////////////////////////////////
function delete_friend(element){
    $fId = element;
    var confirm_delete = confirm("Are you sure you want to remove this friend?")
    if (confirm_delete){
        $.ajax({
            url: "/friends/",
            method: 'DELETE',
            data: {
                param2: $fId
            },
               success: function(response) {
                  console.log("friend has been deleted successfully");
                  document.getElementById('fr'+$fId).parentNode.parentNode.remove(); 
        }
    })
  }
}

</script>