<% @friend_to_user.each do |friend| %>
		<div class="col-sm-offset-1  col-sm-3">
			<div class="panel-success">
				<div class="textDesc">
					<h4 style="color:#dc3b45"><%= friend.email %></h4>
					<%= link_to 'Unfriend', 
						friends_path(:param2 => friend.id),
								method: :delete,
								data: { confirm: 'Are you sure you want to delete friend?' } %>
				</div>
			</div>
	</div>
<%end%>
 