<div class="container">
    <form class="text-center form-inline" data-remote="true" action="/orders/<%= @order_id  %>/orders_details" accept-charset="UTF-8" method="post">
        <%# <input type="hidden" name="authenticity_token" value="...">
         %>
         <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <div class="input-group flex-nowrap mx-1">
            <input type="text" class="form-control" required placeholder="Item" name="item[item_name]" >
        </div>
        <div class="input-group flex-nowrap mx-1">
            <input type="number" class="form-control" required min="1" placeholder="Amount" name="item[amount]" >
        </div>
        <div class="input-group flex-nowrap mx-1">
            <input type="number" class="form-control" required  min="1" placeholder="Price" name="item[price]" >
        </div>
        <div class="input-group flex-nowrap mx-1">
            <input type="text" class="form-control" placeholder="Comment" name="item[comment]" >
        </div>
        <% if @err %>
        <div>
            <%= @err[:msg] %>
        </div>
        <% end %>
          <input class="btn btn-primary m-3" type="submit" name="commit" value="Add">
    </form>
</div>